<div class='container'>
  <div class='row'>
    <div class='col-sm-11 center-block no-float'>
      <%= react_component 'commentIndexContainer', { data: { currentUser: render_current_user } } %>
    </div>
</div>
