<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <span class='modal-title blue medium'>Edit a Code Review</span>
  </div>

  <div class="modal-body">
    <form novalidate name="code_review" ng-submit="editCodeReview()" id="code-review">
      <div class="row">
        <div class="col-md-11">
          <input type="text" required ng-focus name="title" ng-model="codeReview.title" class="review-title pull-right friendly-margin" ng-class="{error: code_review.title.$dirty && code_review.title.$invalid}" ng-minlength=5 />
        </div>
      </div>
      <div class="row">
        <div class="col-md-11">
          <textarea required ng-focus name="detail" cols="60" rows="8" ng-model="codeReview.detail" class="pull-right friendly-margin" ng-class="{error: code_review.detail.$dirty && code_review.detail.$invalid}" ng-minlength=5 />
        </div>
      </div>
      <div class="row">
        <div class="col-md-11">
          <div class="pull-right">
            <label class="friendly-margin">value:</label>
            <select ng-model="codeReview.value" ng-options="ele.value as ele.value for ele in values" name="value" required class="friendly-margin pull-right">
            </select>
            <br/>
            <button type="submit" class="btn btn-default tools accept friendly-margin pull-right" ng-disabled="code_review.$invalid">
              <span ng-show="code_review.title.$invalid">enter title</span>
              <span ng-show="code_review.title.$valid && code_review.detail.$invalid">enter detail</span>
              <span ng-show="code_review.detail.$valid && code_review.value.$invalid">select value</span>
              <span ng-show="code_review.$valid">submit review</span>
              <span ng-hide="accepted" class="grey"><%= fa_icon 'gears' %></span>
              <span ng-show="accepted" class="green"><%= fa_icon 'check' %></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
