<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <span class='modal-title blue medium'>Edit a Code Review Request</span>
  </div>

  <div class="modal-body">
    <form novalidate name="review_request" ng-submit="editReviewRequest()" id="review-request">
      <div class="row">
        <div class="col-md-11">
          <input type="text" required ng-focus name="title" ng-model="reviewRequest.title" class="review-title pull-right friendly-margin" ng-class="{error: review_request.title.$dirty && review_request.title.$invalid}" ng-minlength=5 />
        </div>
      </div>
      <div class="row">
        <div class="col-md-11">
          <textarea required ng-focus name="detail" cols="60" rows="8" ng-model="reviewRequest.detail" class="pull-right friendly-margin" ng-class="{error: review_request.detail.$dirty && review_request.detail.$invalid}" ng-minlength=5 />
        </div>
      </div>
      <div class="row">
        <div class="col-md-11">
          <div class="pull-right">
            <label class="friendly-margin">value:</label>
            <select ng-model="reviewRequest.value" ng-options="ele.value for ele in values" name="value" required class="friendly-margin pull-right">
            </select>
            <br/>
            <button type="submit" class="btn btn-default tools accept friendly-margin pull-right" ng-disabled="review_request.$invalid">
              <span ng-show="review_request.title.$invalid">enter title</span>
              <span ng-show="review_request.title.$valid && review_request.detail.$invalid">enter detail</span>
              <span ng-show="review_request.detail.$valid && review_request.value.$invalid">select value</span>
              <span ng-show="review_request.$valid">submit review</span>
              <span ng-hide="accepted" class="grey"><%= fa_icon 'gears' %></span>
              <span ng-show="accepted" class="green"><%= fa_icon 'check' %></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

