<div class='modal fade' id='faq-modal'>
  <div class='modal-dialog'>

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class='modal-title' id='myModalLabel'>Frequently Asked Questions (links to blog posts)</h4>
      </div>
      <div class="modal-body">

        <div class="modal-body">
          <ol class='' type='number'>
            <li>
              <a href="http://blog.antipattern.io/articles/asking-for-code-feedback/" target="new" class='medium-small blue'>How to ask for a code review?</a>
            </li>
            <li><a href="http://blog.antipattern.io/articles/terms-rules-conditions/" target="new" class='medium-small blue'>What are the community standards?</a></li>
          </ol>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      </div>
    </div>

  </div>
</div>
