<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <span class='modal-title blue medium-small'>Offer {{codeReview.user.name}} a Code Review.</span>
    <h4 class='modal-title red' ng-show='articleSubmitError()'>There was a problem, please try again.</h4>
  </div>
  <div class="modal-body clearfix">
    <span ng-show="display == 'offer-submit'">
      <form novalidate name="offer" ng-submit="offerCodeReview()" ng-model="newOffer">
        <span class="medium-small">
          <div class="centered texas-lines">Dear <img ng-src="{{codeReview.user.profile_pic}}" class="profile">,</div>
          <div class="centered texas-lines">I'd like to review your code <%= fa_icon 'smile-o', class: 'blue' %>.</div>
        </span>
        <div class="medium-small centered texas-lines">Thanks and have a great day, <%= image_tag current_user.profile_pic, class: 'profile' %>.</div>
        <div class="centered top-margined">
          <button type="submit" class='btn btn-default tools accept' ng-disabled="offer.$invalid || display == 'submitting'">
            <span ng-show="offer.$valid">Offer Code Review</span>
            <span ng-show="display == 'submitting'">Submitting</span>
          </button>
        </div>
      </form>
    </span>
    <span ng-show="display == 'offer-success'">
      <div class="green centered"> 
        <div><%= fa_icon 'paper-plane', class: 'jumbo' %></div>
        <div class="medium-small centered">Perfect.</div>
        <div class="medium-small">An email was just sent introducing you two so you can get down to the brass tacks of code review.</div>
      </div>
    </span>
    <span ng-show="display == 'offer-error'">
      <%= render 'shared/generic_error' %>
    </span>
  </div>
</div>
