<div class='modal fade please-login' id='please-login'>
  <div class='modal-dialog'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class='modal-title' id='myModalLabel'>Please Sign In to Continue</h4>
      </div>
      <div class="modal-body">
        <ul class='list-group'>
          <li class='list-group-item'><%= link_to "Sign In With Github - Public Repo Scope", user_omniauth_authorize_path(provider: :github_public_scope) %></li>
          <li class='list-group-item'><%= link_to "Sign In With Github - Private Repo Scope", user_omniauth_authorize_path(provider: :github_private_scope) %></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
