<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <span class='modal-title medium-small blue' id='myModalLabel'>Please specify how you'd like to receive your ${{offer.value / 100}}.</span>
  </div>
  <div class="modal-body centered">
    <div class="row">
      <div class="col-md-12 green medium-small centered">
        Collect: ${{collect}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 green medium-small centered">
        Contribute: ${{fundACoder}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-right slider-summary green medium-small">
        Fund-A-Coder 0%
      </div>
      <div class="col-md-6 slider-summary medium-small no-horizontal-padding">
        <div class="slider"><a name="ex1"></a>
          <div ui-slider="slider.options" min="0" max="100" ng-model="proportionToDonate"></div>
        </div>
      </div>
      <div class="col-md-2 text-left slider-summary text-left green medium-small">
        100%
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default accept" ng-click="setPaymentDetail()">Submit</button>
  </div>
</div>
