<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <span class='modal-title blue medium'>This is how it works:</span>
    <h4 class='modal-title red' ng-show='articleSubmitError()'>There was a problem, please try again.</h4>
  </div>
  <div class="modal-body clearfix">
    <div class="medium-small text-right">
      <div>You submit an offer to give a code review.</div>
      <div>The owner of the code review accepts or declines.</div>
      <div>You receive of notication of acceptance/decline.</div>
      <div>You give a solid code review.</div>
      <div>You get paid the posted value of the code review.</div>
    </div>
  </div>
  <div class="modal-footer">
    <form id="offerCodeReview">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class='btn btn-default tools cancel' ng-click='cancel()'>no thanks</button>
            <button class='btn btn-default tools accept' ng-click='offerCodeReview()'>offer code review</button>
        </div>
      </div>
    </form>
  </div>
</div>
