<html>
  <body>
    <h3>Greetings <%= @recipient.name %>,</h3>

    <p><%= @code_review.user.name %> has posted a new Code Review.</p>
    <p>You can see the details of this Code Review at <%= link_to code_review_url(@code_review), code_review_url(@code_review) %>.</p> 

    <p>Thanks,</p>
    <a href="https://github.com/jcdavison">John Davison, Antipattern.io Founder</a>
    <p>We hope that you find this notification relevant.</p>
    <p>Reply 'no-waffles' and we won't bother you.</p>
  </body>
</html>
