<div class='container' ng-controller="userController">
  <div class='row'>
    <div class='col-md-10 center-block no-float'>

      <div class='row'>
        <div class='col-md-6 center-block no-float centered'>
            <%= image_tag current_user.profile_pic , class: 'medium-format' %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6 center-block no-float'>
          <div class='centered'>
            member since: <%= as_common_date current_user.created_at %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
