<div class='container' ng-controller="userController">
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2'>
      <span ng-show="hasToken" class="blue medium-small">
        <div>A stripe customer account based on your credit card has been saved.</div>
        <div>Please <%= link_to 'give or post a code review', authenticated_root_path %> and have a great day.</div>
        <div class="centered">
          <button class="btn btn-default accept" ng-click="showForm()">Update Credit Card Info</button>
        </div>
      </span>
      <span ng-hide="hasToken">
        <div class="medium-small grey centered padded">Please authorize a credit card for marketplace transactions.</div>
        <div class="medium-small grey centered padded"><%= link_to 'STRIPE CONNECT', user_omniauth_authorize_path(:stripe_connect), class: 'stripe-connect' %></div>
        
      </span>

    </div>
  </div>
</div>
