<div class="centered top-margined">
  <a href="http://github.com/jcdavison/antipattern" target="new">Antipattern.io</a> Built by <a href="http://github.com/jcdavison" target="new">John Davison</a>
</div>
<% if Rails.env.production? %>
  <div class="centered top-margined">
    <div class="fb-like" data-href="https://www.facebook.com/AntiPatternio" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>

  <div class="centered top-margined">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-url="https://antipattern.io" data-via="antipatternio" data-text="The Community for Code Review">tweet</a>
  </div>
<% end %>
