<div class="centered top-margined">
  <span class='red'>AntiPattern.io</span> is the sole property and creative production of <a href='http://startuplandia.io/' target='new' class='red'>John Davison</a>, a San Francisco based developer and entrepreneur.
</div>
<% if Rails.env.production? %>
  <div class="centered top-margined">
    <div class="fb-like" data-href="https://www.facebook.com/AntiPatternio" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>

  <div class="centered top-margined">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-url="https://antipattern.io" data-via="antipatternio" data-text="The Community for Code Review">tweet</a>
  </div>
<% end %>
