<div class="centered"> 
  <div><%= fa_icon 'ambulance', class: 'red jumbo' %></div>
  <div class="medium-small">#SNAP, There was a technical problem</div>
  <div class="medium-small">Maybe refresh and try again?</div>
  <div class="medium-small">That or shout at <%= mail_to 'jd@antipattern.io' %></div>
</div>
