<div class="centered"> 
  <div><%= fa_icon 'ambulance', class: 'red jumbo' %></div>
  <div class="medium-small">There was a technical problem, maybe refresh and try again?</div>
  <div class="medium-small">or shout at me <%= mail_to 'jd@antipattern.io' %></div>
</div>
