<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class='nav navbar-nav navbar-left'>
        <li>
          <%= link_to 'Give Code Review', authenticated_root_path, class: 'small hover-blue' %>
        </li>
        <li ng-controller='createCodeReview'>
          <a href='#' ng-click='requestCodeReview()' class="hover-blue small">Request Code Review</a>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <%= render 'shared/sign_in' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
