<div class='row'>
  <div class='col-sm-10 col-sm-offset-2'>

    <div class='row'>
      <div class='col-sm-10 border-bottom no-left-padding'>
        <h3>Offer's You've Made.</h3>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-10 text-right no-left-padding no-right-padding'>
        <span getowneroffers="<%= code_review.id %>" user-id="<%= current_user.id %>">
          <span ng-repeat="offer in userOffers" class="text-right">
            <div class="offer" ng-controller='offerCtrl' setOfferId offer-ID="{{offer.id}}">
            <span class="medium-small blue padded"><a href="{{offer.user.profile}}">offered by: {{offer.user.name}} <img src="{{offer.user.profile_pic}}" class="profile"></a>
              </span>  
              <span class="offer-actions">
                <span ng-show="acceptStatus">
                  accepted
                </span>
                <span ng-show="acceptStatus == false">
                  rejected
                </span>
                <span ng-show="acceptStatus == null">
                  no disposition
                </span>
              </span>
            </div>
          </span>
        <span>
      </div>
    </div>
  </div>
</div>
