<span ng-repeat="review in allCodeReviews">
  <span hideifdeleted="{{review.id}}">
    <div ng-controller='codeReviewCtrl'>
      <div class="review-request" >

        <div class="request-summary clearfix">
          <div class="row">
            <div class='col-sm-12'>
              <span class='title pull-right'>{{review.title}}</span> 
            </div>
          </div>
        </div>

        <div class="clearfix">
          <span class='value medium-small blue'>Offered Value: ${{review.value / 100}}.0</span>
          <span class='requested-by medium-small padded'>
            Requested By: <a href="{{review.user.github_profile}}">{{review.user.name}} </a><img ng-src="{{review.user.profile_pic}}" class='profile'> 
          </span>
        </div>
        <span class='request-actions'>
          <div class='request-detail' ng-show="showDetail" ng-bind-html="codeReviewHtml">
          </div>
          <div class="request-controls">
            <button class='btn btn-default tools summary' ng-click="toggleDetail()">
              <span ng-show='!showDetail'>
                Show Details
              </span>
              <span ng-show='showDetail'>
                Hide Details
              </span>
            </button>

            <span hideifoffered reviewid="{{review.id}}" >
              <button class='btn btn-default tools' ng-click="confirmReviewOffer()" ng-class='{disabled: hasOffered , summary: !hasOffered}' hideifowner="{{review.id}}">
                <span>
                  Offer Code Review
                </span>
                <span ng-show='hasOffered'>
                  Offered
                </span>
              </button>
            </span>

              <span class='owner' showifowner="{{review.id}}" ng-hide="shouldHideOwnerTools == true">
                <button class='btn btn-default tools accept' ng-click="editReviewRequest()"  >
                  Edit
                </button>
                <button class='btn btn-default tools delete' ng-click="showDeleteModal()"  >
                  Delete
                </button>
              </span>

          </div>
        </span>
      </div>
    </div>
  </span>
</span>
