<section class='review-offers'>
  <h3>Offers for Code Review</h3>
  <% offers.each do |offer| %>
    <section class="offer" ng-controller='offerAcceptanceCtrl'>
      Offer by <%= link_to offer.user.name, "#" %> 
      <span ng-hide="offer_status != null">
        <button class='btn btn-default tools accept padded' ng-click="registerDecision(<%= offer.id %>, 'accept')">accept</button>
        <button class='btn btn-default tools cancel padded' ng-click="registerDecision(<%= offer.id %>, 'reject')">reject</button>
      </span>
      <span ng-show="offer_status != null">
        offer status: {{offer_status}}
      </span>
    </section>
  <% end %>
</section>
