<div class='container'>
  <div class='row'>
    <div class='col-sm-10 col-sm-offset-2'>
      <div class='row'>
        <div class='col-sm-10 border-bottom no-left-padding'>
          <h3>Open Code Reviews</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-10 text-left no-left-padding no-right-padding'>
          <%= render partial: 'shared/ng_code_reviews_index' %>
        </div>
      </div>
    </div>
  </div>
</div>
