<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium light-grey'>
          Every Code Review is an opportunity to Learn and Teach.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="home-hero centered">
  <div class="home-hero-code-review">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium light-grey'>
          We are a community optimized for Code Reviews.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12 centered top-margined'>
        <%= link_to 'JOIN', user_omniauth_authorize_path(:github), class: 'medium join' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium grey'>
          How it works...
        </span>
      </div>

      <div class="centered splash">
        <span class='medium grey'>
          1. Request feedback on your code.
        </span>
        <img src="http://cl.ly/image/2v2x2f3t2u3q/Image%202015-02-18%20at%207.51.09%20AM.png" class="centered product-display">
      </div>

      <div class="centered splash">
        <span class='medium grey'>
          2. Let the community give you a code review.
        </span>
        <img src="http://cl.ly/image/2q1H3E0p2i0r/Image%202015-02-18%20at%207.56.02%20AM.png" class="centered product-display">
      </div>

      <div class="centered splash">
        <span class='medium grey'>
          3. Integrate feedback into your code.
        </span>
        <img src="http://cl.ly/image/3d001F3H0645/Image%202015-02-18%20at%208.00.13%20AM.png" class="centered product-display">

        <img src="http://cl.ly/image/1D0C0w1G2m2v/Image%202015-02-18%20at%208.01.07%20AM.png" class="centered product-display">
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12 centered top-margined'>
        <%= link_to 'JOIN', user_omniauth_authorize_path(:github), class: 'medium join' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium grey'>
          Supporting Background Information...
        </span>
      </div>

      <div class="centered medium">
        <a href="http://blog.antipattern.io/articles/genesis-of-antipattern/" target="new">The Genesis of AntiPattern.io</a>
      </div>

      <div class="centered medium">
        <a href="http://blog.antipattern.io/articles/valuing-a-code-review/" target="new">The Time Value of Code Review</a>
      </div>

      <div class="centered medium">
        <a href="http://blog.antipattern.io/articles/fund-a-coder/" target="new">The Fund-A-Coder Program</a>
      </div>

      <div class="centered medium footer-row">
        <a href="http://blog.antipattern.io/articles/fund-a-coder/" target="new">Community Standards and Guidelines</a>
      </div>
    </div>
  </div>
</div>

<div class="centered footer-row">
  <a href="http://github.com/jcdavison" target="new">Antipattern.io Built by John Davison</a>
</div>
