<div class='contain'>
  <div class="contain-scroll">
    <div class="home-hero">
      <div class="home-hero-title">
        A marketplace for Code Reviews.
      </div>
      <div class="home-hero-slider">
      </div>
      <div class="home-sign-in">
        Sign In via Github
      </div>
    </div>
  </div>
</div>
