<div class='container'>
  <div class='row'>
    <div class='col-sm-10 col-sm-offset-2'>
      <div class='row'>
        <div class='col-sm-10 text-right no-left-padding no-right-padding'>
          <%= render partial: 'shared/review_request', locals: {review: @review_request} %>
        </div>
      </div>
    </div>
</div>
<% if is_owner_of?(current_user: current_user, review_request: @review_request) %>
  stuff stuff stuff
<% end %>
