// VARIABLES

$white: white;
$red: #CF4E42;
$mauve: rgb(151, 120, 120);
$blue: rgb(120, 120, 151);
$green: rgb(120, 151, 120);
$light_green: rgba(120, 151, 120, 0.2);
$light_grey: rgba(121, 121, 151, .6);
$link_color: $green;
$gold: #FEFE00;

// GLOBAL BOOTSTRAP OVERRIDES

$brand-primary: $blue;
$text-color: gray;
$link-hover-color: grey;

// FONT
// @import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

@font-face{
  font-family: "TitilliumWeb-Regular";
  src: url('TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// BOOSTRAP OVERRIDES

$font-family-base: "TitilliumWeb-Regular";

// APPLICATION STYLES

html, body {
  height: 100%
}

.brd {
  border: 1px black solid;
}

.contain {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.contain .contain-scroll {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 50px
}

#hero {
  position: relative;
  overflow: hidden;
  background-size: 100%;
}

.home-content {
  position: relative;
}

.home-hero {
  position: relative;
  overflow: hidden;
  background: white url('hero.jpg') no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover
}

.home-hero-title {
  background-color: black;
  border-radius: 2px;
  color: white;
  font-size: 2.8em;
  padding-right: .5em;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

.home-hero-slider {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.home-sign-in {
  background-color: black;
  border-radius: 2px;
  line-height: 1.6;
  position: relative;
  padding: 0 .5em;
  display: inline-block;
  vertical-align: top;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: $gold;
  }
}

@media (min-width: 1770px) {
    .home-hero {
        -webkit-background-size: 100% !important;
        -moz-background-size: 100% !important;
        -ms-background-size: 100% !important;
        -o-background-size: 100% !important;
        background-size: 100% !important
    }

    .home-hero-title {
      width: 45%;
      margin-top: 13.6em;
      line-height: 2.3;
    }

    .home-hero-slider {
      background: white url('codereview2-full.jpg') no-repeat center center;
      height: 732px;
      width: 700px;
      margin-top: 4em;
      margin-left: 5em;
    }

    .home-sign-in {
      margin-left: 26.5em;
      margin-top: 1em;
      line-height: 2.3;
      font-size: 3em;
    }
}


@media (max-width: 1366px) {
  .home-hero-title {
    width: 49%;
    margin-top: 10.6em;
    line-height: 2.1;
  }
  .home-hero-slider {
    height: 515px;
    width: 490px;
    margin-top: 2em;
    margin-left: 5em;
    background: white url('codereview2.jpg') no-repeat center center;
  }
  .home-sign-in {
    line-height: 2.1;
    margin-left: 21em;
    margin-top: .35em;
    font-size: 2.8em;
  }
}

.user-pic {
  height: 65px;
  width: 65px;
  border-radius: 10px;
  border: solid 1px grey;
}

.review-request {
  padding: .2em 0 .2em .2em;
  margin: 5px 0;
  div {
    margin: .2em 0;
    padding: .2em 0;
  }
}

.border-bottom {
  border-bottom: 1px solid grey;
}

.text-right {
  text-align: right;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.summary {
  font-size: 1.2em;
}

.title {
  font-size: 2.0em;
}
