<div class='container'>
  <div class='row'>
    <div class='col-sm-11 center-block no-float'>
      <div class='row'>
        <div class='col-sm-10 border-bottom no-left-padding center-block no-float'>
          <div class='row'>
            <div class='col-sm-12 no-right-padding text-right'>
              <% if current_user %>
                <button class='accept medium-small btn btn-default show-user-profile-modal'>Get Notified of New Code Reviews</button>
              <% end %>

            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-10 no-left-padding center-block no-float'>
          <%= react_component 'codeReviewIndex', { data: { codeReviews: @code_reviews} } %>
        </div>
      </div>
    </div>
  </div>
</div>
