<html>
  <body>
    <h3>Dear <%= @review_request_owner.name %></h3>

    <p><%= @offer_owner.name %> would like to review your code.  Click this link to accept or decline he code review.</p>

    <p>Thanks,</p>

    <h3>Antipattern.io</h3>

    <p><a href="mailto:jd@startuplandia.io">email antipattern.io support</p>
  </body>
</html>
