<html>
  <body>
    <h3>Congratuations! Your Code Review has been accepted.</h3>

    <p><%= @code_review_owner.name %>, has accepted your code review. </p>
    <p>Your Karma is increasing.  We'll make sure the proper actions are taken to handle all the related details accordingly.</p> 

    <p>Thanks and please contact me if you have questions,</p>

    <p><a href="https://github.com/jcdavison">John Davison, Antipattern.io Founder</a></p>
    <p><a href="mailto:jd@antipattern.io?subject=code review offer help">email antipattern.io support</a></p>
  </body>
</html>


