<html>
  <body>
    <h1>Cha Ching!</h1>

    <h3>A Code Review has been accepted and payment is in route,</h3>

    <p><%= @code_review_owner.name %>, has accepted your Code Review.

    <p>Your stripe account will be paid according to the Code Review terms.  If you don't see transaction(s) from AntiPattern within 24 hours, please email us and we will address the issue with the quickness.

    <p>Happy Coding,</p>

    <p><a href="https://github.com/jcdavison">John Davison, Antipattern.io Founder</a></p>
    <p><a href="mailto:jd@antipattern.io?subject=code review pmt problem">email antipattern.io support</a></p>
  </body>
</html>
