<html>
  <body>
    <h3>Greetings <%= @offer_owner.name %>,</h3>

    <p>We are sorry to let you know that <%= @review_request_owner.name %> has rejected your offer to give a code review.</p>
    <p>Please don't take this personally, there are many reasons why good people get rejected for things they are well qualified for.  Currently, Antitpattern.io, which is in very early alpha stages, isn't tracking why people are rejecting offers to review code.  For sure, as time passes, we will introduce more features to ensure key details like that are clearly tracked, reviewed and communicated.</p>

    <p>Have a great day,</p>

    <p><a href="https://github.com/jcdavison">John Davison, Antipattern.io Founder</a></p>
    <p><a href="mailto:jd@antipattern.io?subject=code review offer help">email antipattern.io support</a></p>
  </body>
</html>
