<html>
  <body>
    <h3>Hi <%= @review_request_owner.name %>,</h3>

    <p><%= @offer_owner.name %>, <%= link_to @offer_owner.github_profile, @offer_owner.github_profile %>, would like to review your code.  Visit <%= link_to(code_review_offer_url(@review_request_id), code_review_offer_url(@review_request_id) ) %> to accept or decline the offer.</p>

    <p>Thanks,</p>

    <p><a href="https://github.com/jcdavison">John Davison, Antipattern.io Founder</a></p>
    <p><a href="mailto:jd@startuplandia.io?subject=code review offer help">email antipattern.io support</a></p>
  </body>
</html>
